
.comment{
    width: 12%;
    height: auto;
    margin-top: 15px;
}

.name{
font-style: italic;
font-variant: normal;
font-family: cursive;
font-size: 25px;
font-weight: bold;
color: black;
}

.message{
font-size: 18px;
font-weight: bold;
color: black;

}
