{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Page Title
    ================================================== -->
    <div id="page-title">

        <div class="row">

            <div class="ten columns centered text-center">
                <h1>Прическа</h1>

                <p>Одним из важных моментов, на который обратит внимание любая девушка - это мужская прическа </p>
            </div>

        </div>

    </div> <!-- Page Title End-->

    <!-- Content
    ================================================== -->
    <div class="content-outer">

        <div id="page-content" class="row page">

            <div id="primary" class="eight columns">

                <section>

                    <h1>Подходите к выбору прически правильно.</h1>

                    <p class="lead">Разновидностей мужских стрижек не меньше, чем женских и сегодня очень многие мужчины
                        уделяют внимание своим волосам. Мужская стрижка, так же как и женская способна рассказать
                        окружающим
                        о стиле, о характере и даже об образе жизни. </p>

                    <p>Чтобы получить ту стрижку, которую вы хотите, нужно обратится к специалисту, к тому же он может
                        посоветовать, как лучше сделать стрижку, исходя от вашего типа волос, длины и формы лица.. </p>

                    <div class="row">

                        <div id="team-wrapper" class="bgrid-halves cf">

                            <div class="column member">

                                <img src="{% static "images/hair/1.jpg" %}" alt=""/>


                                <p>Полубокс – не длинная стрижка, при которой волосы сзади и по бокам головы
                                    подстригаются
                                    машинкой</p>


                            </div>

                            <div class="column member">

                                <img src="{% static "images/hair/2.jpg" %}" alt=""/>


                                <p>Андеркат - характерны короткие виски или даже выбритые и объем волос на макушке и
                                    затылке, которые могут быть уложены или наоборот хаотично растрепанные. </p>


                            </div>

                            <div class="column member">

                                <img src="{% static "images/hair/3.jpg" %}" alt=""/>


                                <p>Top-Knot - Минимальная длина прядей для этой прически составляет 15 сантиметров, что
                                    приблизительно равно длине ладони.

                                    Делается как нельзя просто – достаточно собрать удлиненные волосы в резинку,
                                    завязывая
                                    на макушке, а можно и ниже. </p>


                            </div>

                            <div class="column member">

                                <img src="{% static "images/hair/4.jpg" %}" alt=""/>


                                <p>Мужская стрижка на короткие волосы.Все таки, самые популярные мужские стрижки — это
                                    на
                                    короткие волосы, потому что они неприхотливы в уходе и не требуют затрат времени и
                                    денег
                                    на укладочные средства. </p>


                            </div>

                        </div> <!-- Team wrapper End -->

                    </div> <!-- row End -->

                </section> <!-- section end -->

            </div> <!-- primary end -->

            <div id="secondary" class="four columns end">

                <aside id="sidebar">


                    <div class="widget widget_text">
                        <h3 class="widget-title">
                            Основные моменты</h3>
                        <div class="textwidget">* Главное условие 2019 года — прическа должна иметь текстуру, чтобы не
                            выглядеть слишком правильной и скучной
                            <br>
                            <br>* Для поддержания опрятного вида прически необходимо стричься не реже чем 1 раз в 3
                            недели
                            <br>
                            <br>* Укладка очень важный момент в любой прическе. Без нее вы не сможете придать волосам
                            правильное направление и сохранить прическу на весь день
                        </div>
                    </div>


                </aside>

            </div> <!-- secondary End-->

        </div> <!-- page-content End-->

    </div> <!-- Content End-->

    <!-- Tweets Section
    ================================================== -->

    <div id="page-title">

        <div class="row">

            <div class="ten columns centered text-center">
                <h1>МУЖСКИЕ СТРИЖКИ | Как Выбрать Идеальную Мужскую Стрижку По Форме Лица<span>.</span></h1>

                <iframe width="100%" height="450" src="https://www.youtube.com/embed/QE-uUtJwCq8" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>


            </div>

        </div>

    </div> <!-- Page Title End-->

{% endblock %}