{% extends "base.html" %}
{% load static %}
{% block title %}Add profile information {% endblock %}
{% block content %}

    {% if user.is_authenticated %}
        <!-- Page Title
        ================================================== -->
        <div id="page-title">

            <div class="row">

                <div class="ten columns centered text-center">
                    <h1>MyRealStyle - {{ user.username }}</h1>
                </div>

            </div>

        </div> <!-- Page Title End-->

        <!-- Content
       ================================================== -->
        <div class="content-outer">
            <div id="page-content" class="row">
                <div id="primary" class="centered eight columns">
                    <div id="comments">
                        <!-- respond -->
                        <div class="respond">

                            <div class="ten columns centered text-center">
                                <h3>Добавить информацию профиля</h3>
                            </div>

                            <!-- form -->
                            <form method="post" enctype="multipart/form-data">
                                <fieldset>
                                    {% csrf_token %}
                                    {{ form.as_p }}

                                    {#                                {{ form.non_field.errors }}#}
                                    {#                                <div class="cf">#}
                                    {#                                    <label for="{{ form.bio.id_for_label }}">Описание <span class="required">*</span></label>#}
                                    {#                                    {{ form.bio }}#}
                                    {#                                    <div class="invalid-feedback">#}
                                    {#                                       {{ form.bio.errors }}#}
                                    {#                                    </div>#}
                                    {#                                </div>#}
                                    {##}
                                    {##}
                                    {#                                <div class="cf">#}
                                    {#                                    <label for="{{ form.telegram_nikname.id_for_label }}">Telegram nickname <span class="required">*</span></label>#}
                                    {#                                    {{ form.telegram_nikname }}#}
                                    {#                                    <div class="invalid-feedback">#}
                                    {#                                       {{ form.telegram_nikname.errors }}#}
                                    {#                                    </div>#}
                                    {#                                </div>#}
                                    {##}
                                    {#                                <div class="cf">#}
                                    {#                                    <label for="{{ form.mobile_phone.id_for_label }}">Телефон <span class="required">*</span></label>#}
                                    {#                                    {{ form.mobile_phone }}#}
                                    {#                                    <div class="invalid-feedback">#}
                                    {#                                       {{ form.mobile_phone.errors }}#}
                                    {#                                    </div>#}
                                    {#                                </div>#}
                                    {##}
                                    {#                                 <div class="cf">#}
                                    {#                                     <div class="custom-file">#}
                                    {#                                         <div class="form-check form-switch">#}
                                    {#                                            {{ form.profile_pic }}#}
                                    {#                                            <div class="invalid-feedback">#}
                                    {#                                               {{ form.profile_pic.errors }}#}
                                    {#                                            </div>#}
                                    {#                                        </div>#}
                                    {#                                     </div>#}
                                    {#                                </div>#}


                                    <div>
                                        <button type="submit" class="align-center submit">Добавить информацию</button>
                                    </div>

                                </fieldset>
                            </form> <!-- Form End -->
                        </div> <!-- Respond End -->
                    </div>  <!-- Comments End -->
                </div>
            </div>
        </div> <!-- Content End-->

    {% else %}

        <!-- Page Title
       ================================================== -->
        <div id="page-title">

            <div class="row">

                <div class="ten columns centered text-center">
                    <h1>Авторизуйтесь!</h1>
                </div>

            </div>

        </div> <!-- Page Title End-->

    {% endif %}

{% endblock %}