{% extends "base.html" %}
{% load static %}
{% block title %} Добавить пост{% endblock %}


{% block content %}

    {% if request.user.is_superuser %}

    <!-- Page Title
    ================================================== -->
    <div id="page-title">
        <div class="row">

            <div class="ten columns centered text-center">
                <h1>Добавить пост</h1>
            </div>

        </div>
    </div> <!-- Page Title End-->

    <!-- Content
    ================================================== -->
    <div class="content-outer">
        <div id="page-content" class="row">
            <div id="primary" class="centered eight columns">
                <div id="comments">
                    <!-- respond -->
                    <div class="respond">

                        <h3>Добавить пост</h3>

                        <!-- form -->
                        <form name="contactForm" id="contactForm" method="post" action="{% url 'mrs_base:AddPost' %}"
                        enctype="multipart/form-data">
                            <fieldset>
                                {% csrf_token %}
{#                                {{ form.as_p }}#}

                                {{ form.non_field.errors }}
                                <div class="cf">
                                    <label for="{{ form.title.id_for_label }}">Заголовок <span class="required">*</span></label>
                                    {{ form.title }}
                                    <div class="invalid-feedback">
                                       {{ form.title.errors }}
                                    </div>
                                </div>


                                 <div class="cf">
                                    <label for="{{ form.theme.id_for_label }}">Тема <span class="required">*</span></label>
                                    {{ form.theme }}
                                    <div class="invalid-feedback">
                                       {{ form.theme.errors }}
                                    </div>
                                </div>


                                <div class="cf">
                                    <label for="{{ form.topic.id_for_label }}">Категория <span class="required">*</span></label>
                                    {{ form.topic }}
                                    <div class="invalid-feedback">
                                       {{ form.topic.errors }}
                                    </div>
                                </div>

                                 <div class="cf">
                                    <label for="{{ form.tag.id_for_label }}">Тег <span class="required">*</span></label>
                                    {{ form.tag }}
                                    <div class="invalid-feedback">
                                       {{ form.tag.errors }}
                                    </div>
                                </div>


                                <div class="cf">
                                    <label for="{{ form.short_text.id_for_label }}">Вступление <span class="required">*</span></label>
                                    {{ form.short_text }}
                                    <div class="invalid-feedback">
                                       {{ form.short_text.errors }}
                                    </div>
                                </div>


                                <div class="cf">
                                    {{ form.content }}
                                    <div class="invalid-feedback">
                                       {{ form.content.errors }}
                                    </div>
                                </div>

                                 <div class="cf">
                                     <div class="form-check form-switch">
                                        <label for="{{ form.is_published.id_for_label }}">Опубликовать <span class="required">*</span></label>
                                        {{ form.is_published }}
                                        <div class="invalid-feedback">
                                           {{ form.is_published.errors }}
                                        </div>
                                    </div>
                                </div>

                                 <div class="cf">
                                     <div class="custom-file">
                                         <div class="form-check form-switch">
                                            {{ form.photo }}
                                            <div class="invalid-feedback">
                                               {{ form.photo.errors }}
                                            </div>
                                        </div>
                                     </div>
                                </div>


                                <div>
                                <button type="submit" class="align-center submit">Добавить пост</button>
                                    <span id="image-loader">
                                        <img src="{% static "images/loader.gif" %}" alt="" />
                                    </span>
                                </div>

                            </fieldset>
                        </form> <!-- Form End -->
                    </div> <!-- Respond End -->
                </div>  <!-- Comments End -->
            </div>
        </div>
    </div> <!-- Content End-->

     {% else %}
 <!-- Page Title
    ================================================== -->
    <div id="page-title">
        <div class="row">

            <div class="ten columns centered text-center">
                <h1>Ошибка! Вы не суперюзер!</h1>
            </div>

        </div>
    </div> <!-- Page Title End-->

    {% endif %}


{% endblock %}
