{% load static %}

<!DOCTYPE html>

<html class="no-js" lang="ru">

<head>

    <!--- Basic Page Needs
   ================================================== -->
    <meta charset="utf-8">
    <title>MyRealStyle - {% block title %}Стиль жизни настоящего мужчины{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
   ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static "css/default.css" %}">
    <link rel="stylesheet" href="{% static "css/layout.css" %}">
    <link rel="stylesheet" href="{% static "css/media-queries.css" %}">
    <link rel="stylesheet" href="{% static "css/fileinput1.css" %}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    {% block css %}

    {% endblock %}

    <!-- Script
   ================================================== -->
    <script src="{% static "js/modernizr.js" %}"></script>


    <script type="text/javascript" src="{% static "js/jquery-1.11.0.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.sliderPro.min.js" %}"></script>
    {#    <script type="text/javascript" src="{% static "js/slider.js" %}"></script>#}


    {% block scriptcustom %}

    {% endblock %}

    <script type="text/javascript">
        {% block script %}

        {% endblock %}

    </script>

    <!-- Favicons
	================================================== -->
    <link rel="shortcut icon" href="{% static "logo.png" %}">


</head>

<body>


<!-- Header
================================================== -->
<header>

    <div class="row">

        <div class="twelve columns">

            <div class="logo">
                <a href="{% url 'index' %}"><img alt="" src="{% static "images/logo.png" %}"></a>
            </div>


            <nav id="nav-wrap">

                <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
                <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

                <ul id="nav" class="nav">
                    <li class="{% if request.get_full_path == '/' %}current{% endif %}"><a href="{% url 'index' %}">Главная</a>
                    </li>
                    <li class="{% if request.get_full_path == '/mrs_base/blog/' %}current{% endif %}"><a
                            href="{% url 'mrs_base:BlogNews' %}">Блог</a>
                    </li>

                    <li><span><a>Мужской стиль</a></span>
                        <ul>
                            <li class="{% if request.get_full_path == '/mrs_base/portfolio_index/' %}current{% endif %}">
                                <a href="{% url 'mrs_base:portfolio_index' %}">Глоссарий стиля</a></li>
                            <li class="{% if request.get_full_path == '/mrs_base/about/' %}current{% endif %}"><a
                                    href="{% url 'mrs_base:about' %}">Волосы</a></li>

                            {% if request.user.is_authenticated %}

                                <li class="{% if request.get_full_path == '/mrs_base/podbor/' %}current{% endif %}"><a
                                        href="{% url 'mrs_base:podbor' %}">Подбор образа</a>
                                </li>
                                <li class="{% if request.get_full_path == '/mrs_base/podborcvety/' %}current{% endif %}">
                                    <a
                                            href="{% url 'mrs_base:podborcvety' %}">Подбор цветов одежды</a>
                                </li>


                            {% endif %}
                        </ul>
                    </li>

                    <li class="{% if request.get_full_path == '/mrs_base/blog/' %}current{% endif %}"><a
                            href="{% url 'mrs_base:BlogNews' %}">Спорт</a>
                    </li>
                    <li class="{% if request.get_full_path == '/mrs_base/blog/' %}current{% endif %}"><a
                            href="{% url 'mrs_base:BlogNews' %}">Отношения</a>
                    </li>
                    <li class="{% if request.get_full_path == '/mrs_base/blog/' %}current{% endif %}"><a
                            href="{% url 'mrs_base:BlogNews' %}">Личностный рост</a>
                    </li>

                    <li class="{% if request.get_full_path == '/mrs_base/training/' %}current{% endif %}"><a
                            href="{% url 'mrs_base:training' %}">Обучение</a></li>




                    {% if request.user.is_authenticated %}


                        <li><span><a>
                            {% if user.profile.profile_pic %}
                                <img src="{{ user.profile.profile_pic.url }}" width="30" alt="">
                            {% else %}
                                <img src="{% static 'images/podbor/ic.png' %}" width="50" height="50" alt="">
                            {% endif %}
                            {{ user.username }}
                        </a></span>
                            <ul>
                                <li class="{% if request.get_full_path == '/mrs_base/podborcvety/' %}current{% endif %}">
                                    <a href="{% url 'mrs_base:Profile' user.username %}">Профиль пользователя</a>
                                </li>

                                <li class="{% if request.get_full_path == '/mrs_base/podborcvety/' %}current{% endif %}">
                                    <a href="{% url 'mrs_base:SettingsProfile' %}">Настройки профиля</a>
                                </li>

                                {% if user.profile.id %}
                                <li class="{% if request.get_full_path == '/mrs_base/podborcvety/' %}current{% endif %}">
                                    <a href="{% url 'mrs_base:EditProfilePage' user.id %}">Изменить информацию
                                        пользователя</a>
                                </li>
                                {% else %}
                                 <li class="{% if request.get_full_path == '/mrs_base/podborcvety/' %}current{% endif %}">
                                    <a href="{% url 'mrs_base:AddProfileInformation' %}">Добавить информацию
                                        пользователя</a>
                                </li>
                                {% endif %}

                                {% if request.user.is_superuser %}
                                    <li class="{% if request.get_full_path == '/mrs_base/add-post' %}current{% endif %}">
                                        <a href="{% url 'mrs_base:AddPost' %}">Добавить пост</a></li>
                                {% endif %}

                                {% if request.user.is_authenticated %}
                                    <li><a href="{% url 'mrs_base:logout' %}">Выход</a></li>
                                {% endif %}


                            </ul>
                        </li>

                    {% else %}
                        <a href="{% url 'mrs_base:login' %}">Войти </a> <a>/</a>
                        <a href="{% url 'mrs_base:register' %}">Зарегистрироваться</a>
                    {% endif %}


                </ul> <!-- end #nav -->

            </nav> <!-- end #nav-wrap -->

        </div>

    </div>


</header> <!-- Header End -->

{% block content %}

{% endblock %}


<!-- Tweets Section
================================================== -->
<section id="tweets">

    <div class="row">

        <div class="tweeter-icon align-center">
            <i class="fa fa-youtube-play"></i>
        </div>

        <ul id="twitter" class="align-center">
            <li>
                <span>
                    Подпишитесь на YouTube канал "Mihsa Vasilchuk", для того чтобы знать все про мужской стиль жизни
                </span>

            </li>
        </ul>

        <p class="align-center"><a href="https://www.youtube.com/channel/UC09pwuiSFfhFrQyzwPOcZOQ" class="button"
                                   target="_blank">Подписаться</a>
        </p>

    </div>

</section> <!-- Tweet Section End-->


<!-- footer
================================================== -->
<footer>

    <div class="row">

        <div class="twelve columns">

            <ul class="footer-nav">
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="{% url 'mrs_base:BlogNews' %}">Блог</a></li>
                <li><a href="{% url 'mrs_base:portfolio_index' %}">Глоссарий стиля</a></li>
                <li><a href="{% url 'mrs_base:about' %}">Спорт</a></li>
                <li><a href="{% url 'mrs_base:training' %}">Отношения</a></li>
                <li><a href="{% url 'mrs_base:training' %}">Личностный рост</a></li>
                <li><a href="{% url 'mrs_base:training' %}">Обучение</a></li>
            </ul>

            <ul class="footer-social">
                <li><a href="https://www.instagram.com/misha.medved.inst/"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UC09pwuiSFfhFrQyzwPOcZOQ"><i class="fa fa-youtube-play"
                                                                                          aria-hidden="true"></i></a>
                </li>

            </ul>

            <ul class="copyright">
                <li>Copyright &copy; 2021 MyRealStyle</li>
            </ul>

        </div>

        <div id="go-top" style="display: block;"><a title="Back to Top" href="#">Go To Top</a></div>

    </div>

</footer> <!-- Footer End-->

<!-- Java Script
================================================== -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
    window.jQuery || document.write('<script src="{% static "js/jquery-1.10.2.min.js" %}"><\/script>')

</script>
<script type="text/javascript" src="{% static "js/jquery-migrate-1.2.1.min.js" %}"></script>

<script src="{% static "js/jquery.flexslider.js" %}"></script>
<script src="{% static "js/doubletaptogo.js" %}"></script>
<script src="{% static "js/init.js" %}"></script>


<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
<script src="{% static "js/jquery.event.move.js" %}"></script>
<script src="{% static "js/jquery.twentytwenty.js" %}"></script>
<script>


    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {
            slideIndex = 1
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlides, 10000); // Change image every 2 seconds
    }
</script>


</body>

</html>
