{% extends "base.html" %}
{% load static %}
{% block title %}Блог{% endblock %}

{% block content %}

    <!-- Page Title
    ================================================== -->
    <div id="page-title">

        <div class="row">

            <div class="ten columns centered text-center">
                <h1>Блог</h1>

                <p>Здесь вы сможете увидеть все самые интересные и актуальные новости из мира стиля! </p>
            </div>

        </div>

    </div> <!-- Page Title End-->

    <!-- Content
    ================================================== -->
    <div class="content-outer">

        <div id="page-content" class="row">

            <div id="primary" class="eight columns">


                {% for item in news %}

                    <article class="post">

                        <div class="entry-header cf">

                            <h1><a href="{{ item.get_absolute_url }}" title="">{{ item.title }}</a></h1>

                            <p class="post-meta">
                                <time class="date"
                                      datetime="2014-01-14T11:24">{{ item.created_at|date:'d-m-Y H:i' }}</time>
                                /
                                <span class="categories">
{#                                    <a href="category/{{ item.topic_id }}">{{ item.topic }}</a>#}
                                    <a href="{% url 'mrs_base:NewsCategory' item.topic_id %}">{{ item.topic }}</a>
                                </span>
                            </p>
                        </div>

                        <div class="post-thumb">
                            <a href="{{ item.get_absolute_url }}" title="">
                                <a href="{% url 'mrs_base:NewsTags' item.tag_id %}"> #{{ item.tag }}</a>
                                <img src="{{ item.photo.url }}" alt="post-image" title="post-image">

                            </a>
                        </div>

                        <div class="post-content">
                            <p>{{ item.short_text }}<a href="{{ item.get_absolute_url }}"> Подробнее</a></p>
                        </div>

                    </article> <!-- post end -->


                {% endfor %}


                {% if page_obj.has_other_pages %}
                    <!-- Pagination -->
                    <nav class="col full pagination">
                        <ul>
                            {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}{{ q }}"
                                       class="page-numbers next"><</a>
                                </li>
                            {% endif %}

                            {% for p in page_obj.paginator.page_range %}

                                {% if page_obj.number == p %}
                                    <li><span class="page-numbers current">{{ p }}</span></li>
                                {% elif p > page_obj.number|add:-4 and p < page_obj.number|add:+4 %}
                                    <li><a href="?page={{ p }}{{ q }}" class="page-numbers">{{ p }}</a></li>
                                {% endif %}

                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}{{ q }}"
                                       class="page-numbers next">></a></li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}

            </div> <!-- Primary End-->


            <div id="secondary" class="four columns end">
                <aside id="sidebar">
                    <div class="widget widget_search">
                        <h5>Поиск</h5>
                        <form action="{% url 'mrs_base:Search' %}" method="get">
                            <input class="text-search" type="text" name="q">
                            <input type="submit" class="submit-search">
                        </form>
                    </div>

                    <div class="widget widget_text">
                        <h5 class="widget-title">Совет дня:</h5>
                        <div class="textwidget">
                            {% for item in tips %}
                                {{ item.tip_of_day }}
                                <br>
                            {% endfor %}
                        </div>
                    </div>


                    {% include 'inc/_widget_tag.html' %}


                </aside>
            </div> <!-- Secondary End-->

        </div>

    </div> <!-- Content End-->

{% endblock %}