{% extends "base.html" %}
{% load static %}
{% block title %} {{ news_item.topic }} - {{ news_item.title }}{% endblock %}
{% block content %}


    {% if news_item.is_published %}
        <!-- Page Title
        ================================================== -->
        <div id="page-title">

            <div class="row">

                <div class="ten columns centered text-center">
                    <h1>Блог - {{ news_item.topic }}</h1>
                    <p>Благодаря этому посту, вы узнаете много интересного и станете умнее и круче!</p>
                </div>

            </div>

        </div> <!-- Page Title End-->

        <!-- Content
        ================================================== -->
        <div class="content-outer">
            <div id="page-content" class="row">
                <div id="primary" class="eight columns">
                    <article class="post">
                        <div class="entry-header cf">
                            <h1>{{ news_item.title }}</h1>

                            <p class="post-meta">
                                <time class="date" datetime="2014-01-14T11:24">{{ news_item.created_at|date:'d-m-Y H:i' }}</time>
                                /
                                <span class="categories">
                                    <a href="{% url 'mrs_base:NewsCategory' news_item.topic_id %}">{{ news_item.topic }}</a>
                                </span>

                                {% if request.user.is_superuser %}
                                 /
                                <span class="categories">
                                        <a href="{% url 'mrs_base:EditPost' news_item.id %}">Редактировать</a>
                                </span>
                                {% endif %}
                            </p>

                        </div>

                        <div class="post-thumb">
                            <img src="{{ news_item.photo.url }}" alt="post-image" title="post-image">
                        </div>

                        <div class="post-content">

                            <p class="lead">{{ news_item.short_text }}</p>
                            {% autoescape off %}
                            <p >{{ news_item.content }}</p>
                            {% endautoescape %}


                            <p class="tags">
                                <span>Теги </span>:
                                 <a href="{% url 'mrs_base:NewsCategory' news_item.topic_id %}">{{ news_item.topic }}</a>
                            </p>

                        </div>

                    </article> <!-- post end -->

                    <!-- Comments
                    ================================================== -->
                    <div id="comments">

                        <h3>Коментарии ({{ news_item.comments.all.count }})</h3>

                        <!-- commentlist -->
                        <ol class="commentlist">
                            {% for comment in news_item.comments.all %}
                                {% include "comment.html" with comment=comment depth=1 %}
                            {% endfor %}
                        </ol> <!-- Commentlist End -->


                        <!-- respond -->
                        <div class="respond">

                            <h3>Добавить комментарий</h3>

                            <!-- form -->
                            <form name="contactForm" id="contactForm" method="post" action="{% url 'mrs_base:AddComment' %}">
                                <fieldset>
                                    {% csrf_token %}


                                    {{ form.non_field.errors }}
                                    <input type="hidden" name="post" value="{{ news_item.id }}">

                                    {% if request.user.is_authenticated %}
                                            <input name="author" type="hidden" size="35" value="{{ user.username }}" />
                                    {% else %}
                                        <div class="cf">
                                            <label for="author">Имя <span class="required">*</span></label>
                                            <input name="author" type="text" size="35" value="" />
                                            <div class="invalid-feedback">
                                               {{ form.title.errors }}
                                            </div>
                                        </div>
                                    {% endif %}


                                    <div class="cf">
                                        <label for="content">Сообщение <span class="required">*</span></label>
                                        <textarea name="content"  id="cMessage" rows="10" cols="50" ></textarea>
                                        <div class="invalid-feedback">
                                           {{ form.content.errors }}
                                        </div>
                                    </div>



                                    <button type="submit" class="submit">Добавить</button>

                                </fieldset>
                            </form> <!-- Form End -->

                        </div> <!-- Respond End -->

                    </div>  <!-- Comments End -->

                </div>

                <div id="secondary" class="four columns end">

                    <aside id="sidebar">

                        <div class="widget widget_search">
                            <h5>Поиск</h5>
                            <form action="{% url 'mrs_base:Search' %}" method="get">
                                <input class="text-search" type="text" name="q">
                                <input type="submit" class="submit-search">
                            </form>
                        </div>

                        <div class="widget widget_text">
                            <h5 class="widget-title">Совет дня:</h5>
                            <div class="textwidget">Для того, чтобы выглядеть стильно, следите за актуальностью своей
                                одежды!
                                <br>
                                Если заметили, что одежда износилась и потеряла свой первоначальный вид, самое время купить
                                новую!
                            </div>
                        </div>


                        {% include 'inc/_widget_tag.html' %}


                    </aside>
                </div> <!-- Secondary End-->
            </div>
        </div> <!-- Content End-->

    {% else %}

        <div id="page-title">

            <div class="row">

                <div class="ten columns centered text-center">
                    <h1>Данный пост еще не опубликован</h1>
                </div>

            </div>

        </div> <!-- Page Title End-->

    {% endif %}

{% endblock %}