{% extends "base.html" %}
{% load static %}

{% block content %}

    <!-- Page Title
    ================================================== -->
    <div id="page-title">

        <div class="row">

            <div class="ten columns centered text-center">
                <h1>Brutal стиль</h1>

                <p> Самый распространенный вариант сегодня — это брутальный стиль одежды для мужчин.</p>
            </div>

        </div>

    </div> <!-- Page Title End-->

    <!-- Content
    ================================================== -->
    <div class="content-outer">

        <div id="page-content" class="row portfolio">

            <section class="entry cf">

                <div id="secondary" class="four columns entry-details">

                    <h1>Brutal.</h1>

                    <div class="entry-description">

                        <p> Брутальность — это олицетворение мужественности и силы мужчины, его харизмы и темперамента.
                            Стилисты отмечают, что одежда в такой тематике позволит мужчине всегда выглядеть
                            безукоризненно,
                            проявляя свои лидерские способности, целеустремленность и силу духа. Важно лишь не
                            переборщить в
                            брутальностью в образе, а также гармонично подбирать фасоны и цветовые решения.
                        </p>
                    </div>
                </div> <!-- secondary End-->

                <div id="primary" class="eight columns">

                    <div class="entry-media">
                        <img src="{% static "images/Brutal/brutal3.jpg" %}" alt=""/>
                        <img src="{% static "images/Brutal/brutal1.jpg" %}" alt=""/>
                        <img src="{% static "images/Brutal/brutal2.jpg" %}" alt=""/>
                    </div>

                    <div class="entry-excerpt">

                        <p>Как показывает практика, основные ценители брутального образа мужчин — это представительницы
                            женского пола, которые по своей природе находятся в поиске сильного и решительного мужчины.
                            Поэтому стилисты рекомендуют одеваться брутально и дерзко тем мужчинам, которые стремятся
                            привлечь внимание со стороны противоположного пола, выявить в себе лидерские способности и
                            целеустремленность. Кроме того брутальный стиль одежды идеально подходит мужчинам всех
                            возрастов.
                        </p>
                    </div>
                </div> <!-- primary end-->
            </section> <!-- end section -->

            <ul class="post-nav cf">
                <li class="prev"><a href="{% url 'mrs_base:casual' %}" rel="prev"><strong>Предыдущий стиль</strong> Кэжуал</a></li>
                <li class="next"><a href="{% url 'mrs_base:dandy' %}" rel="next"><strong>Следующий стиль</strong> Дэнди</a></li>
            </ul>
        </div>
    </div> <!-- content End-->

{% endblock %}
