{% extends "base.html" %}
{% load static %}


{% block content %}

<!-- Page Title
================================================== -->
<div id="page-title">

    <div class="row">

        <div class="ten columns centered text-center">
            <h1>Casual стиль</h1>

            <p>Сasual для мужчин стал обычным, повседневным стилем для любого момента: в институт, на работу, на
                вечеринку и даже на свидание. </p>
        </div>

    </div>

</div> <!-- Page Title End-->

<!-- Content
================================================== -->
<div class="content-outer">

    <div id="page-content" class="row portfolio">

        <section class="entry cf">

            <div id="secondary" class="four columns entry-details">

                <h1>Casual.</h1>

                <div class="entry-description">

                    <p> Впервые стиль возник в середине прошлого столетия, как раз в ту пору, когда существовало
                        движение «Тэдов» (Teddy boys), сторонники которого изначально предпочитали костюм. Сейчас же
                        casual гардероб формируется на основе темперамента, увлечений, условий работы своего владельца.
                        Согласитесь, что творческий человек наверняка наденет яркие штаны, рубашку в клетку и повяжет на
                        шее шарф в тон, в то время как парень, являющийся фанатом рока, скорее, наденет кричащую о
                        чем-то футболку, потертые джинсы, цепи и всё в таком роде. А вот электрика вы вряд ли увидите в
                        классическом костюме, ведь его повседневный вариант — это спецодежда. Вообще, стиль casual
                        является самым разноплановым и не имеет строгих рамок, его отличает сочетание удобства, красоты
                        и практичности. Также ему присуще соединение нескольких стилей, например, спортивного и
                        классического, в таком случае получается что-то среднее и оригинальное.</p>

                    <p>В наше время casual включает в себя несколько подвидов, рассмотрим основные его направления:</p>

                    <p>Бизнес-casual.<br>
                        Спорт-casual.<br>
                        Смарт-кэжуал.
                    </p>

                </div>

                <ul class="portfolio-meta-list">
                    <li><span>Date: </span>1 Декабря 2018</li>

                </ul>


            </div> <!-- secondary End-->

            <div id="primary" class="eight columns">

                <div class="entry-media">

                    <img src="{% static "images/Casual/Casual2.jpg" %}" alt=""/>
                    <img src="{% static "images/Casual/Casual1.jpg" %}" alt=""/>
                    <p>Разницу между официальным деловым дресс-кодом и кэжуал достаточно легко увидеть. Если формальная
                        одежда предполагает строгий костюм синего, серого или черного цветов, белую или синюю сорочку,
                        неброский галстук и консервативную обувь, то рассматриваемый в этой статье стиль подразумевает
                        комплект из джинсов и пиджака,</p>
                    <img src="{% static "images/Casual/Casual3.jpg" %}" alt=""/>
                    <img src="{% static "images/Casual/Casual4.jpg" %}" alt=""/>
                        <img src="{% static "images/Casual/Casual5.jpg" %}" alt=""/>

                </div>

                <div class="entry-excerpt">

                    <p>Повседневный стиль подразумевает свободу самовыражения. Он не накладывает никаких запретов в
                        выборе одежды. Здесь также действует понятие сочетаемости несочетаемого. Вы можете надеть джинсы
                        с пиджаком или рубашку с кроссовками. Несмотря на это, все образы в повседневном стиле смотрятся
                        очень гармонично, если элементы подобраны правильно.</p>

                </div>

            </div> <!-- primary end-->

        </section> <!-- end section -->

        <ul class="post-nav cf">
            <li class="prev"><a href="{% url 'mrs_base:portfolio' %}" rel="prev"><strong>Предыдущий стиль</strong> Классический</a></li>
            <li class="next"><a href="{% url 'mrs_base:brutal' %}" rel="next"><strong>Следующий стиль</strong> Брутальный</a></li>
        </ul>

    </div>

</div> <!-- content End-->

{% endblock %}