{% extends "base.html" %}
{% load static %}
{% block title %}Сменить пароль{% endblock %}
{% block content %}

    {% if request.user.id == user.id %}
        <!-- Page Title
        ================================================== -->
        <div id="page-title">

            <div class="row">

                <div class="ten columns centered text-center">
                    <h1>MyRealStyle - {{ user.username }}</h1>
                </div>

            </div>

        </div> <!-- Page Title End-->

        <!-- Content
       ================================================== -->
        <div class="content-outer">
            <div id="page-content" class="row">
                <div id="primary" class="centered eight columns">
                    <div id="comments">
                        <!-- respond -->
                        <div class="respond">

                            <div class="ten columns centered text-center">
                                <h3>Сменить пароль</h3>
                            </div>

                            <!-- form -->
                            <form method="post" enctype="multipart/form-data">
                                <fieldset>
                                    {% csrf_token %}
{#                                    {{ form.as_p }}#}

                                    {{ form.non_field.errors }}
                                    <div class="cf">
                                        <label for="{{ form.old_password.id_for_label }}">Старый пароль</label>
                                        {{ form.old_password }}
                                        <div class="invalid-feedback">
                                            {{ form.old_password.errors }}
                                        </div>
                                    </div>


                                    <div class="cf">
                                        <label for="{{ form.new_password1.id_for_label }}">Новый пароль</label>
                                        {{ form.new_password1 }}
                                        <div class="invalid-feedback">
                                            {{ form.new_password1.errors }}
                                        </div>
                                    </div>

                                    <div class="cf">
                                        <label for="{{ form.new_password2.id_for_label }}">Повторите пароль</label>
                                        {{ form.new_password2 }}
                                        <div class="invalid-feedback">
                                            {{ form.new_password2.errors }}
                                        </div>
                                    </div>

                                    <div>
                                        <button type="submit" class="align-center submit">Сменить пароль</button>
                                    </div>

                                </fieldset>
                            </form> <!-- Form End -->
                        </div> <!-- Respond End -->
                    </div>  <!-- Comments End -->
                </div>
            </div>
        </div> <!-- Content End-->

    {% else %}

        <!-- Page Title
       ================================================== -->
        <div id="page-title">

            <div class="row">

                <div class="ten columns centered text-center">
                    <h1>Вы не можете менять информацию чужого профиля!</h1>
                </div>

            </div>

        </div> <!-- Page Title End-->

    {% endif %}

{% endblock %}