{% load static %}
<li class="depth-{{ depth }}">
    <div class="avatar">
        <img width="90" height="80" class="avatar" src="{% static "images/podbor/ic.png" %}" alt="">
    </div>

    <div class="comment-info">
        <cite>{{ comment.author}} </cite>

        <div class="comment-meta">
            <time class="comment-time" datetime="{{ comment.created_at}}">{{ comment.created_at}}</time>
        </div>
    </div>

    <div class="comment-text">
        <p>{{ comment.content }}</p>
    </div>

{#    <ul class="children">#}
{#        {% for child_comment in comment.comments.all %}#}
{#            {% include "comment.html" with comment=child_comment depth=depth|add:1 %}#}
{#        {% endfor %}#}
{#    </ul>#}

</li>