{% extends "base.html" %}
{% load static %}

{% block content %}

    <!-- Page Title
   ================================================== -->
    <div id="page-title">

        <div class="row">

            <div class="ten columns centered text-center">
                <h1>Dandy стиль</h1>

                <p> “Как денди лондонский одет,
                    Надушен по последней моде…” </p>
            </div>

        </div>

    </div> <!-- Page Title End-->

    <!-- Content
   ================================================== -->
    <div class="content-outer">

        <div id="page-content" class="row portfolio">

            <section class="entry cf">

                <div id="secondary" class="four columns entry-details">

                    <h1>Dandy.</h1>

                    <div class="entry-description">

                        <p> Стиль денди впервые зародился в Англии в конце XVIII века. Начиная с того времени и по сей
                            день мужская одежда в стиле денди находит своих поклонников и вызывает восхищение
                            окружающих. Главной отличительной чертой этого стиля является элегантность или, если
                            выразиться точнее, – щегольство.</p>

                        <p>Современный стиль денди – это сдержанная палитра тонов и строгость форм. Возможен неброский
                            орнамент на тканях, тонкая полоска или клетка. Будь то костюм, плащ или пальто – одежда
                            должна соответствовать и быть идеально подогнана по размеру. Недопустимы плотно облегающие
                            фасоны, а также модели свободного кроя. Здесь нет места ультрамодным, кричащим вещам.</p>


                    </div>

                </div> <!-- secondary End-->

                <div id="primary" class="eight columns">

                    <div class="entry-media">

                        <img src="{% static "images/Dandy/1.jpg" %}" alt=""/>
                        <img src="{% static "images/Dandy/2.jpg" %}" alt=""/>


                    </div>

                    <div class="entry-excerpt">

                        <p>В стиле денди много внимания отводится деталям: перчаткам, часам, портмоне, зонту и шарфу.
                            Приветствуется использование винтажных аксессуаров, но все должно соответствовать
                            стилю.Чтобы подчеркнуть вашу принадлежность к денди, обзаведитесь привычкой носить нагрудный
                            платок. Этот аксессуар является ключевым элементом мужского стиля денди.
                            Что касается обуви, она должна быть из хорошей натуральной кожи и обязательно начищена до
                            блеска.
                            Туалетная вода едва уловима, ярко выраженные ароматы не допускаются, необходимо быть
                            сдержанным во всем.</p>


                    </div>

                </div> <!-- primary end-->

            </section> <!-- end section -->

            <ul class="post-nav cf">
                <li class="prev"><a href="{% url 'mrs_base:brutal' %}" rel="prev"><strong>Предыдущий стиль</strong> Брутальный</a></li>
                <li class="next"><a href="{% url 'mrs_base:portfolio' %}" rel="next"><strong>Следующий стиль</strong> Классический</a>
                </li>
            </ul>

        </div>

    </div> <!-- content End-->

{% endblock %}