{% extends "base.html" %}
{% load static %}

{% block scriptcustom %}
{% endblock %}

{% block content %}

    <!-- Intro Section
   ================================================== -->
    <section id="intro">

        <!-- Slideshow container -->
        <div class="slideshow-container">

            <!-- Full-width images with number and caption text -->
            <div class="mySlides fade">
                <img src="{% static "images/sliders/1.jpg" %}" style="width:100%">
                <div class="text">Caption Text</div>
            </div>

            <div class="mySlides fade">
                <img src="{% static "images/sliders/2.jpg" %}" style="width:100%">
                <div class="text">Caption Two</div>
            </div>

            <div class="mySlides fade">
                <img src="{% static "images/sliders/3.jpg" %}" style="width:100%">
                <div class="text">Caption Three</div>
            </div>

            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>

        <!-- The dots/circles -->
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>


    </section> <!-- Intro Section End-->

    <!-- Info Section
   ================================================== -->
    <section id="info">

        <div class="row">

            <div class="twelve columns align-center">
                <h1 class="color-blue">Зачем тебе одеваться стильно?</h1>
            </div>


            <div class="bgrid-quarters s-bgrid-halves">

                <div class="columns">
                    <h2>Пример.</h2>

                    <p>Наглядный пример того как можно стильно одеваться и подбирать наряд в соответствии с вашим типом
                        фигуры.
                    </p>
                </div>

                <div class="columns">
                    <h2>Самовыражение.</h2>

                    <p>Возможность самовыражения и приобретение уверенности в себе для людей с нестандартными
                        пропорциями в фигуре. Сегодня мир индустрии одежды подарил уверенность в себе даже очень полным
                        людям, ведь появилась масса коллекций как, например, для людей небольшого роста, так и для
                        полных.
                    </p>
                </div>

                <div class="columns s-first">
                    <h2>Внимание.</h2>

                    <p>Следуя моде вы всегда находитесь в центре внимания. Вы - главный объект внимания.
                    </p>
                </div>

                <div class="columns">
                    <h2>Уверенность.</h2>

                    <p>Следуя моде вы всегда чувствуете себя уверенно. Каждый новый образ который вы надели придает
                        уверенности, что пооложительно сказывается на вашей жизни!
                    </p>
                </div>

            </div>

        </div>

    </section> <!-- Info Section End-->

    <!-- Works Section
   ================================================== -->
    <section id="works">

        <div class="row">

            <div class="twelve columns align-center">
                <h1>Несколько стилей одежды которые могут быть вам по душе.</h1>
            </div>

            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-halves">

                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="{% url 'mrs_base:portfolio' %}">
                            <img alt="" src="{% static "images/Classic/1.jpg" %}">
                            <div class="overlay"></div>
                            <div class="link-icon"><i class="fa fa-link"></i></div>
                        </a>
                        <div class="portfolio-item-meta">
                            <h5><a href="{% url 'mrs_base:portfolio' %}">Классический</a></h5>
                            <p>Классичейский костюм</p>
                        </div>
                    </div>
                </div>

                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="{% url 'mrs_base:casual' %}">
                            <img alt="" src="{% static "images/portfolio/Casual.jpg" %}">
                            <div class="overlay"></div>
                            <div class="link-icon"><i class="fa fa-link"></i></div>
                        </a>
                        <div class="portfolio-item-meta">
                            <h5><a href="{% url 'mrs_base:casual' %}">Кэжуал</a></h5>
                            <p>Более повседневный стиль</p>
                        </div>
                    </div>
                </div>

                <div class="columns portfolio-item s-first">
                    <div class="item-wrap">
                        <a href="{% url 'mrs_base:brutal' %}">
                            <img alt="" src="{% static "images/portfolio/brutal.jpg" %}">
                            <div class="overlay"></div>
                            <div class="link-icon"><i class="fa fa-link"></i></div>
                        </a>
                        <div class="portfolio-item-meta">
                            <h5><a href="{% url 'mrs_base:brutal' %}">Брутальный</a></h5>
                            <p>Характрена брутальная одежда</p>
                        </div>
                    </div>
                </div>

                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="{% url 'mrs_base:dandy' %}">
                            <img alt="" src="{% static "images/portfolio/elegant.jpeg" %}">
                            <div class="overlay"></div>
                            <div class="link-icon"><i class="fa fa-link"></i></div>
                        </a>
                        <div class="portfolio-item-meta">
                            <h5><a href="{% url 'mrs_base:dandy' %}">Дэнди</a></h5>
                            <p>Внимание к деталям</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </section> <!-- Works Section End-->

    <!-- Journal Section
   ================================================== -->

    <div id="page-title">

        <div class="row">

            <div class="ten columns centered text-center">
                <h1>Как стильно одеваться мужчине?
                </h1>
                <iframe width="100%" height="450" src="https://www.youtube.com/embed/_Pzz4Z51Sm0"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>

        </div>

    </div> <!-- Page Title End-->



{% endblock %}
