{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Авторизация</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static "images/icons/favicon.ico" %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static "fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static "fonts/iconic/css/material-design-iconic-font.min.css" %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static "vendor/animate/animate.css" %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static "vendor/css-hamburgers/hamburgers.min.css" %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static "vendor/animsition/css/animsition.min.css" %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static "vendor/select2/select2.min.css" %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static "vendor/daterangepicker/daterangepicker.css" %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static "css/util.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
    <!--===============================================================================================-->
    <link rel="shortcut icon" href="{% static "Logo.png" %}">
</head>

<body>


<form method="POST">
    {% csrf_token %}

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-85 p-b-20">
                <form class="login100-form validate-form">
                    <span class="login100-form-title p-b-70">
                        Добро пожаловать
                    </span>
                    <span class="login100-form-avatar">
                        <img src="{% static "images/avatar-01.jpg" %}" alt="AVATAR">
                    </span>

                    <br>

                    <span class="login100-form-title m-t-45 m-b-45">
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.tags %}
                                    <div class="alert alert-{{ message.tags }} m-t-25 m-b-25" role="alert">
                                        {{ message }}
                                    </div>
                                {% endif %}

                            {% endfor %}
                        {% endif %}
                    </span>

                    {{ form.as_p }}


{#                    <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate="Enter username">#}
{#                        <input class="input100" type="text" name="login" value="">#}
{#                        <span class="focus-input100" data-placeholder="Имя пользователя"></span>#}
{#                    </div>#}
{##}
{##}
{#                    <div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">#}
{#                        <input class="input100" type="password" name="password" value="">#}
{#                        <span class="focus-input100" data-placeholder="Пароль"></span>#}
{#                    </div>#}

                    <br>
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit">
                            Войти
                        </button>
                    </div>

                    <br>
                    <br>
                    <br>


                    <ul class="login-more p-t-190">

                        <li>
                            <span class="txt1">
                                Нет аккаунта?
                            </span>

                            <a href="{% url 'mrs_base:register' %}" class="txt2">
                                Зарегистрироваться!
                            </a>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="{% static "vendor/jquery/jquery-3.2.1.min.js" %}"></script>
    <!--===============================================================================================-->
    <script src="{% static "vendor/animsition/js/animsition.min.js" %}"></script>
    <!--===============================================================================================-->
    <script src="{% static "vendor/bootstrap/js/popper.js" %}"></script>
    <script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>
    <!--===============================================================================================-->
    <script src="{% static "vendor/select2/select2.min.js" %}"></script>
    <!--===============================================================================================-->
    <script src="{% static "vendor/daterangepicker/moment.min.js" %}"></script>
    <script src="{% static "vendor/daterangepicker/daterangepicker.js" %}"></script>
    <!--===============================================================================================-->
    <script src="{% static "vendor/countdowntime/countdowntime.js" %}"></script>
    <!--===============================================================================================-->


</form>

</body>
</html>