{% extends "base.html" %}
{% load static %}



{% block content %}

    <!-- Page Title
   ================================================== -->
    <div id="page-title">

        <div class="row">

            <div class="ten columns centered text-center">
                <h1>Как найти свой стиль?</h1>

                <p>Очень важно найти именно свой стиль. Он будет подчеркивать ваши силные стороны, делать вас
                    индивидуальным и особенным!</p>
            </div>

        </div>

    </div> <!-- Page Title End-->

    <!-- Content
   ================================================== -->
    <section class="entry cf">
        <div class="content-outer">

            <div id="page-content" class="row portfolio">

                <section class="entry cf">

                    <div id="secondary" class="four columns entry-details">

                        <h1>Поиск стиля</h1>

                        <div class="entry-description">

                            <p>Выбрать индивидуальный лук – это задача непростая. Большинство молодых людей сочетают в
                                совсем гардеробе множество стилевых решений, в комбинации из которых и создается
                                необходимый
                                образ. Важно чтобы будущий облик не только был красив внешне, но, и чтобы скрывал или,
                                наоборот, подчеркивал элементы фигуры. Все в образе мужчины должно быть по делу и со
                                вкусом.</p>
                        </div>
                    </div> <!-- secondary End-->


                    <div id="primary" class="eight columns">

                        <div class="entry-excerpt">

                            <h2>Как подобрать стиль одежды для мужчины?</h2>


                            <p>Первое, что необходимо сделать - определить цветотип.
                                Это природное сочетание цвета кожи, губ, волос, бровей, бороды и глаз по общему оттенку.
                                Согласно правилам стилистов, по типажу внешности выделяют следующие разновидности
                                цветотипа:
                                <br>
                                1 - Лето – преобладают холодные оттенки (серые и голубые глаза, пепельные волосы и
                                т.д.).
                                <br>
                                2 - Весна – в большинстве яркие и нежные цвета.
                                <br>
                                3 - Осень – ярко-насыщенные, приглушенные оттенки теплой цветовой палитры.
                                <br>
                                4 - Зима – преобладает холодная и яркая гамма.
                                <br>
                                Далее необходимо определить тип фигуры.
                            </p>
                        </div>


                        <div class="entry-media">

                            <img src="{% static "images/mystyle/1.jpg" %}" alt=""/>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>

    {#               ---------------------------------------------------------------      #}

    <section class="entry cf">
        <div class="content-outer">
            <div id="page-content" class="row portfolio">
                <section class="entry cf">

                    <h3>1. Треугольник</h3>

                    <p>Распространенный тип фигуры у мужчин, особенно после 40 лет. Характеризуется обширным
                        животом, скошенными плечами и сутулой осанкой. Такой тип проблематичен в поиске
                        одежды,
                        которая создает пропорциональный силуэт. </p>


                    <div class="entry-media">

                        <img src="{% static "images/mystyle/2.jpg" %}" alt=""/>

                    </div>

                    <div class="entry-excerpt">

                        <p>Какая одежда подойдет?
                            <br>
                            <br>
                            * Рубашки с эполетами и накладными карманами на груди.
                            <br>
                            * Пальто и куртки со структурированными плечами. (куртки такого типа как «бомбер»
                            будут еще
                            больше увеличивать и так уже наклонную линию плеча, не стоит их носить)
                            <br>* Однобортные костюмы. (двубортные костюмы добавляют объем к талии)
                            <br>* Укороченные узорчатые блейзеры. (Сочетание принтов и однотонных цветов в
                            одежде,
                            создаст иллюзию формы и снимет внимание с большой талии)
                            <br>* Свитера допускаются, если в области груди, будет какой-то горизонтальный узор.
                            <br>* Брюки классического покроя, но ни в коем случае, не мешковатые и не в обтяжку.
                            <br>
                            <br>Другими словами, для такого типа тела как «треугольник», нужно подбирать одежду,
                            которая
                            будет зрительно увеличивать область груди и плеч, и снимать внимание с талии.
                            Полезным будет
                            использование аксессуаров, таких как нагрудные платки, шарфы, очки.
                        </p>

                    </div>

                    <div class="entry-excerpt">

                        <h3>2. Перевернутый треугольник</h3>

                    </div>

                    <div class="entry-media">

                        <img src="{% static "images/mystyle/3.jpg" %}" alt=""/>

                    </div>


                    <div class="entry-excerpt">

                        <p>Форма этого типа тела представляет собой треугольник с основанием на плечах и
                            вершиной на
                            пупке. Такой фигурой обладают в основном те, кто занимается спортом. Грудь и плечи
                            значительно шире по сравнению с талией и бедрами. Выбор одежды для такого типа
                            фигуры, тоже
                            не прост. Мужчинам с такой фигурой хочется подчеркнуть ее, это хорошо, но можно
                            переборщить
                            и получится негармоничный образ. Здесь важно тонко намекнуть на свою форму, а не
                            "голосить"
                            об этом. </p>

                        <p>Какая одежда подойдет?
                            <br>
                            <br>
                            * Плотно облегающая одежда.
                            <br>
                            * Пиджаки, куртки и пальто с мягкими плечами. (не стоит еще больше придавать объем
                            своим
                            плечам)
                            <br>* Двубортные пиджаки и пальто.
                            <br>* Рубашки поло.
                            <br>* Ботинки или туфли с текстурой (например, броги), отвлекут от большого торса.
                            <br>* Горизонтальные полосы в нижней части торса, визуально расширят узкую талию.
                            <br>* Классические прямые брюки и джинсы.
                            <br>* Брюки в клетку.
                            <br>* Джемперы и футболки с V-образным вырезом.
                        </p>

                    </div>


                    <div class="entry-excerpt">

                        <h3>3. Прямоугольник</h3>

                    </div>

                    <div class="entry-media">

                        <img src="{% static "images/mystyle/4.jpg" %}" alt=""/>

                    </div>


                    <div class="entry-excerpt">

                        <p>У мужчины с прямоугольной формой тела, плечи примерно такой же ширины, как талия и
                            бедра.
                            Здесь нужно немного визуально придать объема в плечах и уменьшить талию. </p>

                        <p>Какая одежда подойдет?
                            <br>
                            <br>
                            * Рубашки с эполетами и накладными карманами на груди.
                            <br>
                            * Пальто и куртки со структурированными плечами.
                            <br>* Однобортные костюмы.
                            <br>* Многослойная одежда (например, рубашка на пуговицах и тонкий джемпер с круглым
                            вырезом)
                            <br>* Акцентированные аксессуары (шарфы, нагрудные платки)
                            <br>* Горизонтальные узоры на верхней части одежды.
                            <br>* Различные яркие цветные вставки в области груди и плеч и темные в области
                            талии.
                            <br>* Джинсы и спортивные пиджаки.

                        </p>

                    </div>


                    <div class="entry-excerpt">

                        <h3>4. Овал</h3>

                    </div>

                    <div class="entry-media">

                        <img src="{% static "images/mystyle/5.JPG" %}" alt=""/>

                    </div>


                    <div class="entry-excerpt">

                        <p>Для представителей этого типа фигуры характерно, что центр туловища шире, чем плечи и
                            бедра.
                            Здесь нужно добиваться визуального эффекта уменьшения талии. Вытянуть овал и
                            добавить
                            очертания границ. </p>

                        <p>Какая одежда подойдет?
                            <br>
                            <br>
                            * Однотонные костюмы, помогут вытянуть овал и окружающие будут скользить взглядом по
                            вашему
                            образу, не задерживаясь на талии. (избегайте контрастной одежды, например светлая
                            рубашка и
                            темные брюки не подойдут для такого типа фигуры)
                            <br>
                            * Пальто и куртки со структурированными плечами, добавят очертание границ.
                            <br>* Костюмы тройки.
                            <br>* Рубашки с вертикальными линиями.
                            <br>* Ботинки или туфли с текстурой.
                            <br>* Подтяжки.
                            <br>* Галстук-бабочка.

                        </p>

                    </div>


                    <div class="entry-excerpt">

                        <h3>5. Трапеция</h3>

                    </div>

                    <div class="entry-media">

                        <img src="{% static "images/mystyle/6.jpg" %}" alt=""/>

                    </div>


                    <div class="entry-excerpt">

                        <p>Характерные признаки: плечи шире, чем талия и бедра. Самый идеальный тип фигуры для
                            подбора
                            одежды. В основном вся одежда изготавливается, основываясь именно на этот тип
                            фигуры.</p>

                        <p>Какая одежда подойдет?
                            <br>
                            <br>
                            Любая. Точнее, идеально подходит одежда, подогнанная точно по фигуре. Подходят как
                            однотонные, так и разноцветные, как однобортные, так и двубортные костюмы. Но, стоит
                            избегать мешковатой одежды.
                            <br>
                            <br> И помните, ваш тип тела и форма должны всегда иметь приоритет над тенденциями
                            моды.
                            Важно соблюдать пропорциональность вашего образа.
                        </p>
                    </div>
                </section>
            </div> <!-- primary end-->
        </div>
    </section> <!-- end section -->



    {#    -------------------------------------------------       #}


    <div class="content-outer">
        <div id="page-content" class="row portfolio">

            <ul class="post-nav cf">
                <li class="prev"><a href="{% url 'mrs_base:training' %}" rel="prev"><strong>Назад в библиотеку
                    вопросов</strong>
                    Самые часто встречающиеся вопросы в стиле</a>
                </li>
                <li class="next"><a href="{% url 'mrs_base:mystyle2' %}" rel="next"><strong>Следующая
                    статья</strong>
                    Какие самые главные ошибки в стиле</a></li>
            </ul>

        </div>
    </div> <!-- content End-->


    <div id="page-title">

        <div class="row">

            <div class="ten columns centered text-center">
                <h1>Как найти свой стиль?</h1>

                <iframe width="100%" height="450" src="https://www.youtube.com/embed/eFfh9hH9wr0" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>

                <p>В этом ролике вы узнаете как найти свой неповторимый стиль! </p>
            </div>

        </div>

    </div> <!-- Page Title End-->


{% endblock %}