{% extends "base.html" %}
{% load static %}

{% block content %}

    <!-- Page Title
   ================================================== -->
    <div id="page-title">

        <div class="row">

            <div class="ten columns centered text-center">
                <h1>Ошибки в стиле</h1>

                <p>Люди порой стараются выглядеть стильно, но допускают очевидные ошибки, которые лучше не
                    допускать!</p>
            </div>

        </div>

    </div> <!-- Page Title End-->

    <!-- Content
   ================================================== -->
    <div class="content-outer">

        <div id="page-content" class="row portfolio">

            <section class="entry cf">

                <div id="secondary" class="four columns entry-details">

                    <h1>Поиск стиля</h1>

                    <div class="entry-description">

                        <p>Сегодня мы рассмотрим основные ошибоки мужского стиля, которые мешают вам стать настоящими
                            джентльменами</p>
                    </div>
                </div> <!-- secondary End-->

                <div id="primary" class="eight columns">

                    <div class="entry-excerpt">

                        <h2>1. Одежда слишком большого размера</h2>


                        <p>Эту ошибка сразу бросается в глаза даже не профессиональному стилисту. Думаю, многие помнят,
                            как родители в детстве покупали нам одежду на пару размеров больше той, что мы носим,
                            объясняя это тем, что в ближайшем будущем мы вырастим. Многие, вырастая, носят одежду,
                            которая досталась им от кого-то из семьи и не всегда ее размер подходит. Но если не хотите
                            выглядеть неряшливо, то стоит сменить одежду, которая больше размеров вашей одежды.
                        </p>
                        <h4>Решение:</h4>
                        <p>Подбирайте всю одежду исходя из ваших размеров. Исправив лишь эту ошибку, Вы намного улучшите
                            ваш внешний вид.
                        </p>
                    </div>


                    <div class="entry-media">
                        <div class="twentytwenty-container">
                            <img src="{% static "images/mystyle1/1.jpeg" %}"/>
                            <img src="{% static "images/mystyle1/2.jpg" %}"/>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>





    <section class="entry cf">
        <div class="content-outer">
            <div id="page-content" class="row portfolio">
                <section class="entry cf">

                    <div class="entry-excerpt">

                        <h2>2. Туфли с квадратным носком</h2>


                        <p>Хотя об этом уже упоминалось бесчисленное количество раз в разных журналах моды
                            но каждый
                            день мы видим людей, которые носят туфли с квадратным носком. При том носят
                            такую обувь не
                            только самые обыкновенные рабочие люди, но и успешные бизнесмены, политики.
                            Некоторым просто
                            нравятся такие туфли, кому-то просто не слишком важно, что носить но есть и те
                            кто просто не
                            разбирается в моде.
                            <br>
                            Как известно, встречают по одежке, так что если вы хотите работать в серьезной
                            консалтинговой или юридической фирме или идете на важное собеседование стоит
                            сменить обувь.
                            Это покажет Ваше отношение к вашему внешнему виду. А если вы хотите работать в
                            сфере, в
                            которой Вам пройдется часто общаться с людьми то, лучше выглядеть на все 110%.
                            Думаю, Вы бы
                            не захотели доверять свои деньги банкиру, который одет в костюм ярких цветов, на
                            пару
                            размеров больше его размеров и обут в туфли с квадратным носком. Сразу возникает
                            вопрос:
                            если он так относится к своему внешнему виду, то как он будет относиться к моим
                            деньгам?
                            Хотя он может быть профессионалом своего дела, но первое впечатление он создает
                            не
                            благоприятное.
                        </p>
                        <h4>Решение:</h4>

                        <p>Если Вы хотите выглядеть стильно, то стоит сменить туфли с квадратным носком на
                            варианты с
                            закругленным носком. Например броги
                        </p>
                    </div>


                    <div class="entry-media">
                        <div class="twentytwenty-container">
                            <img src="{% static "images/mystyle1/3.jpg" %}"/>
                            <img src="{% static "images/mystyle1/4.jpg" %}"/>
                        </div>
                    </div>

                    <br>

                    <div class="entry-excerpt">

                        <h2>3. Старые джинсы и мешковатые джинсы</h2>


                        <p>Может джинсы 70-х были очень популярны в 70-х – начале 80х, но их время вышло.
                            Думаю, как
                            женщинам неприятно смотреть на мужчин одетых в такие джинсы, так и мужчинам на
                            женщин
                            которые носят джинсы, возраст которых больше их собственного возраста.
                            <br>
                            Раньше в мешковатых джинсах ходили представители рэп культуры. Эти джинсы
                            отправляются в
                            историю моды, но никак не на улицы города!
                        </p>
                        <h4>Решение:</h4>

                        <p>Стоит пойти и купить хорошие джинсы, которые будут не только моложе вас, но и
                            подходить по
                            размеру.
                        </p>

                    </div>


                    <div class="entry-media">
                        <div class="twentytwenty-container">
                            <img src="{% static "images/mystyle1/5.jpg" %}"/>
                            <img src="{% static "images/mystyle1/6.jpg" %}"/>
                        </div>
                    </div>


                    <div class="entry-excerpt">
                        <br>
                        <h2>4. Кроссовки для прогулок и спорта</h2>

                        <p>Многие считают что лучше купить практичную обувь, которую можно одевать, как на
                            работу так и
                            в тренажерный. Но это не верно! Кроссовки существуют только для зала! А для
                            прогулок
                            существуют стильные кеды или удобные туфли!

                        </p>
                        <h4>Решение:</h4>

                        <p>Купить несколько пар обуви. Для работы отлично подойдут ботинки "Броги". Для
                            прогулок можно
                            приобрести красивые кеды, а для зала - кроссовки.
                        </p>

                    </div>

                    <div class="entry-media">
                        <div class="twentytwenty-container">
                            <img src="{% static "images/mystyle1/7.jpg" %}"/>
                            <img src="{% static "images/mystyle1/8.jpg" %}"/>
                        </div>
                    </div>


                    <div class="entry-excerpt">
                        <br>
                        <h2>5. Носить рюкзак вместе с костюмом</h2>

                        <p>Я думаю вы уже не в школе, чтобы носить поверх костюма рюкзак. Он убивает любой
                            стильный
                            образ и мнет одежду.

                        </p>
                        <h4>Решение:</h4>

                        <p>Если есть необходимость носить много вещей с собой, возьмите стильную сумку и
                            будьте в
                            комфорте со стилем!
                        </p>

                    </div>

                    <div class="entry-media">
                        <div class="twentytwenty-container">
                            <img src="{% static "images/mystyle1/9.jpg" %}"/>
                            <img src="{% static "images/mystyle1/10.jpg" %}"/>
                        </div>
                    </div>
                </section>
            </div> <!-- primary end-->
        </div>
    </section> <!-- end section -->






    <div id="page-title">

        <div class="row">

            <div class="ten columns centered text-center">
                <h1>Топ ошибок в мужском стиле</h1>

                <iframe width="100%" height="450" src="https://www.youtube.com/embed/rnANJD4Uc4E" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>

                <p>В этом ролике вы узнаете какие ошибки нельзя допускать в мужском стиле! </p>
            </div>

        </div>

    </div> <!-- Page Title End-->

{% endblock %}

