{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block scriptcustom %}
    <script type="text/javascript" src="{% static 'js/scriptpodbor.js' %}"></script>
{% endblock %}

{% block content %}
    <!-- Page Title
    ================================================== -->
    <div id="page-title">

        <div class="row">

            <div class="ten columns centered text-center">
                <h1>Подбор образа</h1>

                <p>Воспользуйтесь нашим генератором образов, чтобы не тратить время на поиск в интернете! Также вы
                    можете
                    образ, который вам понравится скачать себе! Приятного пользования!</p>
            </div>

        </div>

    </div> <!-- Page Title End-->

    <!-- Content
    ================================================== -->
    <div class="content-outer">
        <div class="row">
            <div class="ten columns centered text-center">
                <br>
                <h1>Выберите, что вам интересно и получите готовый образ!!!
                </h1>
                <br>

                <button onclick="myFunction4()" class="button">Лето</button>
                <button onclick="myFunction5()" class="button">Осень</button>
                <button onclick="myFunction6()" class="button">Зима</button>
                <button onclick="myFunction7()" class="button">Весна</button>

                <br>
                <br>

                <div class="entry-media" id="imagerand">
                    {#                    <img src="images/podbor/1.png" alt=""/>#}
                    <img src="{% static "images/podbor/1.png" %}" alt=""/>
                </div>

                <br>

                <div class="entry-media" id="imagerand">
                    <hr>
                    <h4>Адреса самых лучших магазинов одежды</h4>
                    <br>
                    <script type="text/javascript" charset="utf-8" async
                            src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad19a5733b67a1dca11662c1873b6e5e996fe9c22e34ddac920e565bbed9b49f8&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true">

                    </script>
                </div>
                <br>
            </div>
        </div>
    </div> <!-- Page Title End-->
{% endblock %}