{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block scriptcustom %}
    <script type="text/javascript" src="{% static 'js/scriptpodborcvety.js' %}"></script>
{% endblock %}

{% block content %}

    <!-- Page Title
   ================================================== -->
    <div id="page-title">

        <div class="row">

            <div class="ten columns centered text-center">
                <h1>Подбор цветов в одежде</h1>

                <p>Очень важно правильно выбрать цвета в одежде! Для идеального сочетания цветов в одежде, читайте эту статью до конца и вас будет ждать приятный бонус!</p>
            </div>

        </div>

    </div> <!-- Page Title End-->



<div class="content-outer">

        <div id="page-content" class="row portfolio">

            <section class="entry cf">

                <div id="secondary" class="four columns entry-details">

                    <h1>Лучшие комбинации цветов в одежде для мужчин</h1>

                    <div class="entry-description">

                        <p>Ваш внешний вид напрямую зависит от удачного сочетания оттенков в одежде. Лишь умело сочетая цвета, вы создадите полноценный завершенный образ. Поэтому, если вы хотите оживить свой образ, вам следует более внимательно относиться к тому, одежду каких цветов вы носите. К счастью, разобраться с тем, какие из сочетаний цветов являются удачными, так же просто, как прочесть эту статью. Ниже представлены удачные сочетания цветов, о которых должен знать каждый мужчина.</p>

                    </div>

                    <ul class="portfolio-meta-list">
                        <li><span>Date: </span>4 Мая 2020</li>

                    </ul>



                </div> <!-- secondary End-->

                <div id="primary" class="eight columns">

                    <div class="entry-excerpt">

                        <h2>Сочетание цветов в гардеробе</h2>

						<br>
                        <p>Когда дело доходит до комбинации цветов в одежде, цветовой круг может оказаться чрезвычайно полезным. Позволяя определить, какие цвета комплементарны, а какие идентичны, цветовой круг может дать приблизительное представление о том, какие оттенки сочетаются лучше всего. Дополнительные цвета, которые находятся на противоположной стороне колеса, обеспечивают сбалансированный контраст. Однако они могут быть слишком интенсивны, поэтому вместо них зачастую используются схожие оттенки.
                            <br>
                            <br>
                        Аналогичные цвета находятся рядом друг с другом на колесе, то есть они имеют сходные тона и хорошо сочетаются друг с другом. Это тройная цветовая гамма из трех равномерно распределенных оттенков. Они гармонично смотрятся в сочетании, но такую комбинацию можно считать довольно смелой. Несмотря на то что колесо помогает определиться с выбором оттенков, не стоит полагаться исключительно на него. Приобретая опыт и знания об оттенках и стиле, вы научитесь идеально сочетать цвета в своем гардеробе.
                        </p>

                    </div>
<br>

                    <div class="entry-media">

                        <img src="{% static 'images/podborcvetov/1.JPG' %}" alt="" />

                    </div>

                    <div class="entry-excerpt">

                        <h3>С чем комбинировать синюю одежду?</h3>

                        <p>Если вы надеваете синюю одежду, вам лучше избегать черного цвета, так как он может сделать ваш образ слишком темным. Вместо этого используйте белый или бежевый, чтобы сделать свой внешний вид более гармоничным. Например, белая рубашка освежает синий костюм и делает образ классическим. Такая комбинация всегда смотрится выигрышно. Нежно-розовый тоже отлично сочетается с синим, в то время как светлые оттенки голубого создают мягкое сочетание схожих тонов. Кроме того, детали темно-бордового и красного цвета удачно дополнят синий. </p>

                    </div>

                    <div class="entry-media">

                        <img src="{% static 'images/podborcvetov/2.JPG' %}" alt="" />

                    </div>


					<div class="entry-excerpt">

                        <h3>С чем комбинировать бордовую одежду?</h3>

                        <p>Бордовый может выглядеть довольно стильно, но он также может оказаться слишком сложным для сочетания, особенно если вы предпочитаете не выделяться. В отличие от черного и белого, бордовый сочетается с ограниченным набором цветов. При этом есть несколько беспроигрышных вариантов, которые создадут гармоничный образ в цвете бордо. С ним отлично сочетается синий, создавая приятный образ на все времена. Однако нейтральные тона, такие как черный, белый, серый, и даже коричневый, тоже будут вполне уместны. </p>

                    </div>

                    <div class="entry-media">

                        <img src="{% static 'images/podborcvetov/3.JPG' %}" alt="" />

                    </div>


                   <div class="entry-excerpt">

                        <h3>С чем комбинировать зеленую одежду?</h3>

                        <p>Зеленый — удивительно универсальный цвет и отличное дополнение к вашему гардеробу. Хитрость заключается в том, чтобы правильно подобрать оттенок. Темно-зеленый, хаки и оливковый лучше всего подходят для мужского гардероба. Кроме того, простые цветовые комбинации помогут вам подчеркнуть зеленые детали вашей одежды и избежать смешения не сочетаемых цветов. Например черный — цвет, который всегда отлично сочетается с зеленым. Белый цвет тоже отлично дополняет зеленый, а также c ним отлично смотрятся зимние тона, такие как коричневый, бордовый и синий. </p>

                    </div>

                    <div class="entry-media">

                        <img src="{% static 'images/podborcvetov/4.JPG' %}" alt="" />

                    </div>


                    <div class="entry-excerpt">

                        <h3>С чем комбинировать бежевую одежду?</h3>

                        <p>Бежевый — очень мягкий оттенок, поэтому он лучше всего сочетается со светлыми тонами. Особенно стильно он смотрится с белоснежным оттенком, голубым или рыжеватым. Обращайте внимание на то, какой оттенок бежевого вы используете, так как его желтоватые оттенки, как правило, намного сложнее для сочетания. Если вы надеваете одежду желтовато-бежевого цвета, попробуйте дополнить ее насыщенными тонам, такими как темно-бордовый, синий или коричневый. </p>

                    </div>

                    <div class="entry-media">

                       <img src="{% static 'images/podborcvetov/5.JPG' %}" alt="" />

                    </div>

                    <div class="entry-excerpt">

                        <h3>С чем комбинировать красную одежду?</h3>

                        <p>Поскольку красный — довольно смелый цвет, он лучше всего сочетается с нейтральными оттенками. Поэтому, надевая красную одежду, попробуйте сочетать ее с белой для создания свежего яркого образа. Черный цвет в данном случае сделает ваш образ эффектным. Кроме того, попробуйте сочетать теплые оттенки красного с холодными оттенками синего для создания приятного образа в классическом стиле. </p>

                    </div>

                    <div class="entry-media">

                        <img src="{% static 'images/podborcvetov/6.JPG' %}" alt="" />

                    </div>

                    <div class="entry-excerpt">

                        <h3>С чем комбинировать белую одежду?</h3>

                        <p>Белый сочетается со многими цветами, особенно если носить его с осторожностью. Если вы полностью одеваетесь в белую одежду, вам следует тщательно продумать ваш образ, чтобы показать этот цвет во всей красе. В большинстве случаев с белым сочетаются холодные оттенки, такие как черный, синий и голубой. Однако нейтральные тона, такие как бежевый и песочный, также могут хорошо смотреться с белым, особенно в теплое время года. </p>

                    </div>

                    <div class="entry-media">

                        <img src="{% static 'images/podborcvetov/7.JPG' %}" alt="" />

                    </div>


                    <div class="entry-excerpt">

                        <h3>С чем комбинировать черную одежду?</h3>

                        <p>Черный любят за его универсальность. Это означает, что он может отлично смотреться с почти любым другим цветом. Однако некоторые оттенки выглядят более традиционно, чем другие. Белый, например, всегда хорошо выглядит с черным, так как помогает достичь баланса между светлым и темным тоном. </p>

                        <p>Тем не менее, это сочетание может выглядеть весьма необычно, благодаря контрасту. Чтобы смягчить контраст, подберите лишь небольшой белый элемент, чтобы разбавить ваш черный образ. Например, белая рубашка будет отлично смотреться под черным костюмом. Не только белый, но и другие светлые тона, такие как нежно-розовый и светло-голубой, тоже могут стать удачным дополнением к черному. С другой стороны, смелые цвета, такие как красный, придадут образу яркий акцент. </p>

                    </div>

                    <div class="entry-media">

                        <img src="{% static 'images/podborcvetov/8.JPG' %}" alt="" />

                    </div>


                     <div class="entry-excerpt">

                        <h3>С чем комбинировать серую одежду?</h3>

                        <p>Для успешного сочетания серого с другими цветами следует обратить внимание на его оттенок. Как правило, светлые тона серого сочетаются с другими светлыми оттенками, включая белый, светло-голубой и нежно-розовый. Темно-серый также может хорошо смотреться с белым. Однако серый также может сочетаться с темными тонами, такими как черный и бордовый. </p>

                    </div>

                    <div class="entry-media">

                        <img src="{% static 'images/podborcvetov/9.JPG' %}" alt="" />

                    </div>

                    <div class="entry-excerpt">

                        <h3>С чем комбинировать коричневую одежду?</h3>

                        <p>Как и в случае с серым цветом, для удачного сочетания коричневого с другими цветами необходимо учитывать его оттенок. Светлые оттенки коричневого, такие как рыжеватый и бежевый, как правило, работают лучше с другими светлыми оттенками, такими как белый, кремовый и светло-голубой. Темно-коричневые тона также могут сочетаться с нейтральными оттенками, такими как белый. Кроме того, довольно приятно выглядит их сочетание с богатыми оттенками, такими как черный, бордовый, темно-синий или темно-зеленый. </p>

                    </div>

                    <div class="entry-media">

                        <img src="{% static 'images/podborcvetov/10.JPG' %}" alt="" />

                    </div>

                    <div class="entry-excerpt">

                        <h3>С чем комбинировать розовую одежду?</h3>

                        <p>Розовый — цвет, которого многие мужчины избегают, потому что не знают, с чем его комбинировать. Если это относится к вам, сперва попробуйте надеть светло-розовую рубашку или свитер, чтобы проникнуться этим оттенком. Светлые тона розового более универсальны, чем яркие оттенки, поэтому их проще носить. Чтобы придать образу элегантности, попробуйте разбавить розовый тон серым, синим, белым, коричневым или бежевым. Если вы — любитель розового цвета и предпочитаете его яркие оттенки, попробуйте сочетать его с темно-синим, черным или темно-серым. </p>

                    </div>

                    <div class="entry-media">

                        <img src="{% static 'images/podborcvetov/10.JPG' %}" alt="" />

                    </div>

                </div> <!-- primary end-->

            </section> <!-- end section -->


        </div>

    </div> <!-- content End-->






    <div class="content-outer">

        <div class="row">

            <div class="ten columns centered text-center">
                <hr>
               <h1>Выберите цвет и получите идеально подходящую цветовую схему
                </h1>
                <br>

                <img class="imageanim" src="{% static 'images/podborcvetov/grey.JPG' %}"  onclick="greyto()" alt="" title="Серый">
                <img class="imageanim" src="{% static 'images/podborcvetov/red.JPG' %}"  onclick="redto()" alt="" title="Краный">
                <img class="imageanim" src="{% static 'images/podborcvetov/brown.JPG' %}"  onclick="brownto()" alt="" title="Коричневый">
                <img class="imageanim" src="{% static 'images/podborcvetov/yellow.JPG' %}"  onclick="yellowto()" alt="" title="Желтый">
                <img class="imageanim" src="{% static 'images/podborcvetov/green.JPG' %}"  onclick="greento()" alt="" title="Зеленый">
                <img class="imageanim" src="{% static 'images/podborcvetov/blue.JPG' %}"  onclick="blueto()" alt="" title="Синий">
                <img class="imageanim" src="{% static 'images/podborcvetov/black.JPG' %}"  onclick="blackto()" alt="" title="Черный">

                <br>
                <br>
                <br>
                <hr>

                <div class="entry-media" id="imagerand">

                    <img src="{% static 'images/podborcvetov/square.jpg' %}" alt="" />

                </div>


            <br>
            <br>
            <br>
            <br>



            </div>

        </div>

    </div> <!-- Page Title End-->

{% endblock %}