{% extends "base.html" %}
{% load static %}


{% block content %}


    <!-- Page Title
  ================================================== -->
    <div id="page-title">

        <div class="row">

            <div class="ten columns centered text-center">
                <h1>Классический стиль</h1>

                <p>Характерен для публичных личностей, бизнесменов и прочих людей от которых требуется максимальная
                    формальность. </p>
            </div>

        </div>

    </div> <!-- Page Title End-->

    <!-- Content
    ================================================== -->
    <div class="content-outer">

        <div id="page-content" class="row portfolio">

            <section class="entry cf">

                <div id="secondary" class="four columns entry-details">

                    <h1>Классика.</h1>

                    <div class="entry-description">

                        <p>Первая ассоциация — строгий и дорогой костюм, не так ли? Действительно, речь пойдет о нем.
                            Белая
                            или светлая рубашка, со вкусом подобранный пиджак, идеально выглаженные брюки, стильный
                            галстук
                            и отполированные до блеска мужские туфли — это стандарт. Пиджак и брюки должны
                            соответствовать
                            именно вашему размеру и строению вашего тела. Чёрный костюм предназначен для торжественных
                            событий, а тёмно-синий и серый чаще надевают деловых встреч. Акценты в общем классическом
                            образе
                            всегда за аксессуарами: ремень, запонки, часы, платок</p>

                    </div>

                </div> <!-- secondary End-->

                <div id="primary" class="eight columns">

                    <div class="entry-media">

                        <img src="{% static "images/Classic/1.jpg" %}" alt=""/>
                        <img src="{% static "images/Classic/Classic1.jpg" %}" alt=""/>

                    </div>

                    <div class="entry-excerpt">

                        <p>Деловые и уверенные в себе мужчины часто выбирают вещи в официальном стиле. Такие наряды
                            можно
                            использовать не только для похода на работу, но и для повседневной жизни. Элегантный стиль
                            отличается предельной сдержанностью в цветах и качественным кроем. </p>

                    </div>

                </div> <!-- primary end-->

            </section> <!-- end section -->

            <ul class="post-nav cf">
                <li class="prev"><a href="{% url 'mrs_base:dandy' %}" rel="prev"><strong>Предыдущий стиль</strong> Дэнди</a></li>
                <li class="next"><a href="{% url 'mrs_base:casual' %}" rel="next"><strong>Следующий стиль</strong> Кэжуал</a></li>
            </ul>

        </div>

    </div> <!-- content End-->

{% endblock %}