{% extends "base.html" %}
{% load static %}


{% block content %}
    <!-- Page Title
    ================================================== -->
    <div id="page-title">

        <div class="row">

            <div class="ten columns centered text-center">
                <h1>Мужские стили</h1>

                <p>На сегодняшний день мода представляет смешение разных стилей, которые появлялись и развивались в
                    течение
                    очень долгого времени. </p>
            </div>

        </div>

    </div> <!-- Page Title End-->

    <!-- Content
    ================================================== -->
    <div class="content-outer">

        <div id="page-content" class="row portfolio">

            <section class="entry cf">

                <div id="secondary" class="four columns entry-details">

                    <h1>Библиотека стилей.</h1>

                    <p class="lead">Давайте рассмотрим, какие стили на сегодняшний день пользуются популярностью среди
                        мужчин разного возраста и социального положения.</p>

                    <p>На сегодняшний день существует огромное количество разных стилей одежды. Самыми популярными из
                        них
                        являются</p>

                    <p>Классический.<br>
                        Кэжуал.<br>
                        Брутальный.<br>
                        Дэнди.</p>


                </div> <!-- Secondary End-->

                <div id="primary" class="eight columns portfolio-list">

                    <div id="portfolio-wrapper" class="bgrid-halves cf">

                        <div class="columns portfolio-item first">
                            <div class="item-wrap">
                                <a href="{% url 'mrs_base:portfolio' %}">
                                    <img alt="" src="{% static "images/portfolio/Classic.jpg" %}">
                                    <div class="overlay"></div>
                                    <div class="link-icon"><i class="fa fa-link"></i></div>
                                </a>
                                <div class="portfolio-item-meta">
                                    <h5><a href="{% url 'mrs_base:portfolio' %}">Классический</a></h5>
                                    <p>Строгие и формальные образы на основе костюмов</p>
                                </div>
                            </div>
                        </div>

                        <div class="columns portfolio-item">
                            <div class="item-wrap">
                                <a href="{% url 'mrs_base:casual' %}">
                                    <img alt="" src="{% static "images/portfolio/Casual.jpg" %}">
                                    <div class="overlay"></div>
                                    <div class="link-icon"><i class="fa fa-link"></i></div>
                                </a>
                                <div class="portfolio-item-meta">
                                    <h5><a href="{% url 'mrs_base:casual' %}">Casual</a></h5>
                                    <p>Более повседневный стиль</p>
                                </div>
                            </div>
                        </div>

                        <div class="columns portfolio-item first">
                            <div class="item-wrap">
                                <a href="{% url 'mrs_base:brutal' %}">
                                    <img alt="" src="{% static "images/portfolio/brutal.jpg" %}">
                                    <div class="overlay"></div>
                                    <div class="link-icon"><i class="fa fa-link"></i></div>
                                </a>
                                <div class="portfolio-item-meta">
                                    <h5><a href="{% url 'mrs_base:brutal' %}">Брутальный</a></h5>
                                    <p>Характрена брутальная одежда</p>
                                </div>
                            </div>
                        </div>

                        <div class="columns portfolio-item">
                            <div class="item-wrap">
                                <a href="{% url 'mrs_base:dandy' %}">
                                    <img alt="" src="{% static "images/portfolio/elegant.jpeg" %}">
                                    <div class="overlay"></div>
                                    <div class="link-icon"><i class="fa fa-link"></i></div>
                                </a>
                                <div class="portfolio-item-meta">
                                    <h5><a href="{% url 'mrs_base:dandy' %}">Dandy-style</a></h5>
                                    <p>Внимание к деталям</p>
                                </div>
                            </div>
                        </div>


                    </div>

                </div> <!-- primary end-->

            </section> <!-- end section -->

        </div> <!-- #page-content end-->

    </div> <!-- content End-->

    <!-- Tweets Section
    ================================================== -->

    <div id="page-title">

        <div class="row">

            <div class="ten columns centered text-center">
                <h1>Как найти свой стиль<span>.</span></h1>

                <iframe width="100%" height="450" src="https://www.youtube.com/embed/eFfh9hH9wr0" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>

                <p>Очень важно найти именно свой стиль в одежде. Тот стиль в котором вы будете выглядеть на все
                    100% </p>
            </div>

        </div>

    </div> <!-- Page Title End-->

{% endblock %}