{% extends "base.html" %}
{% load static %}
{% block title %} {{user.username }}{% endblock %}
{% block content %}

    <!-- Page Title
    ================================================== -->
    <div id="page-title">

        <div class="row">

            <div class="ten columns centered text-center">
                <h1>MyRealStyle - {{ user.username }}</h1>

                {% if user.profile.profile_pic %}
                <p>Image - <img src="{{ user.profile.profile_pic.url }}" width="300px"></p>
                {% else %}
                <p>Image - <img src="{% static "images/avatar_default.png" %}" width="300px"></p>
                {% endif %}

                <p>First name - {{ user.first_name }}</p>
                <p>Last name - {{ user.last_name }}</p>
                <p>Email - {{ user.email }}</p>
                <p>Bio - "{{ user.profile.bio }}"</p>
                <p>Telegram - {{ user.profile.telegram_nikname }}</p>
                <p>Phone - {{ user.profile.mobile_phone }}</p>
            </div>

        </div>

    </div> <!-- Page Title End-->


{% endblock %}