{% extends "base.html" %}
{% load static %}
{% block title %}Настройки{% endblock %}
{% block content %}

    {% if request.user.id == user.id %}
        <!-- Page Title
        ================================================== -->
        <div id="page-title">

            <div class="row">

                <div class="ten columns centered text-center">
                    <h1>MyRealStyle - {{ user.username }}</h1>
                </div>

            </div>

        </div> <!-- Page Title End-->

        <!-- Content
       ================================================== -->
        <div class="content-outer">
            <div id="page-content" class="row">
                <div id="primary" class="centered eight columns">
                    <div id="comments">
                        <!-- respond -->
                        <div class="respond">

                            <div class="ten columns centered text-center">
                                <h3>Обновить информацию</h3>
                            </div>

                            <!-- form -->
                            <form method="post" enctype="multipart/form-data">
                                <fieldset>
                                    {% csrf_token %}
                                    {#                                    {{ form.as_p }}#}

                                    {{ form.non_field.errors }}
                                    <div class="cf">
                                        <label for="{{ form.username.id_for_label }}">Имя пользователя</label>
                                        {{ form.username }}
                                        <div class="invalid-feedback">
                                            {{ form.username.errors }}
                                        </div>
                                    </div>


                                    <div class="cf">
                                        <label for="{{ form.first_name.id_for_label }}">Имя</label>
                                        {{ form.first_name }}
                                        <div class="invalid-feedback">
                                            {{ form.first_name.errors }}
                                        </div>
                                    </div>

                                    <div class="cf">
                                        <label for="{{ form.last_name.id_for_label }}">Фамилия</label>
                                        {{ form.last_name }}
                                        <div class="invalid-feedback">
                                            {{ form.last_name.errors }}
                                        </div>
                                    </div>

                                    <div class="cf">
                                        <label for="{{ form.email.id_for_label }}">Email</label>
                                        {{ form.email }}
                                        <div class="invalid-feedback">
                                            {{ form.email.errors }}
                                        </div>
                                    </div>

                                    <div class="cf">
                                        <label>Пароль</label>
                                        <p class="align-center"><a href="{% url 'mrs_base:ChangePassword' %}" class="button">
                                            Сменить пароль</a>
                                        </p>
                                    </div>

                                    <div>
                                        <button type="submit" class="align-center submit">Обновить информацию</button>
                                    </div>

                                </fieldset>
                            </form> <!-- Form End -->
                        </div> <!-- Respond End -->
                    </div>  <!-- Comments End -->
                </div>
            </div>
        </div> <!-- Content End-->

    {% else %}

        <!-- Page Title
       ================================================== -->
        <div id="page-title">

            <div class="row">

                <div class="ten columns centered text-center">
                    <h1>Вы не можете менять информацию чужого профиля!</h1>
                </div>

            </div>

        </div> <!-- Page Title End-->

    {% endif %}

{% endblock %}