{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Регистрация</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static "images/icons/favicon.ico" %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static "fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static "fonts/iconic/css/material-design-iconic-font.min.css" %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static "vendor/animate/animate.css" %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static "vendor/css-hamburgers/hamburgers.min.css" %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static "vendor/animsition/css/animsition.min.css" %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static "vendor/select2/select2.min.css" %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static "vendor/daterangepicker/daterangepicker.css" %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static "css/util.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
    <!--===============================================================================================-->
    <link rel="shortcut icon" href="{% static "Logo.png" %}">
</head>

<body>
<form method="POST">
    {% csrf_token %}

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-85 p-b-20">
                <form class="login100-form validate-form">
                    <span class="login100-form-title p-b-70">
                        Добро пожаловать
                    </span>
                    <span class="login100-form-avatar">
                        <img src="{% static "images/avatar-01.jpg" %}" alt="AVATAR">
                    </span>

                    {% if request.user.is_authenticated %}
                        <ul class="log in-more p-t-190">
                        <li>
                            <span class="txt1">
                                Вы уже авторизованы!
                            </span>
                            <a href="{% url 'mrs_base:login' %}" class="txt2">
                                Войти!
                            </a>
                        </li>
                    </ul>

                    {% else %}

                    {#                    {{ form.as_p }}#}

                    {{ form.non_field.errors }}
                    <div class="cf">
                        <label for="{{ form.username.id_for_label }}">Логин пользователя</label>
                        {{ form.username }}
                        <div class="invalid-feedback">
                            {{ form.username.errors }}
                        </div>
                    </div>


                    <div class="cf">
                        <label for="{{ form.first_name.id_for_label }}">Имя</label>
                        {{ form.first_name }}
                        <div class="invalid-feedback">
                            {{ form.first_name.errors }}
                        </div>
                    </div>

                    <div class="cf">
                        <label for="{{ form.last_name.id_for_label }}">Фамилия</label>
                        {{ form.last_name }}
                        <div class="invalid-feedback">
                            {{ form.last_name.errors }}
                        </div>
                    </div>

                    <div class="cf">
                        <label for="{{ form.email.id_for_label }}">Email</label>
                        {{ form.email }}
                        <div class="invalid-feedback">
                            {{ form.email.errors }}
                        </div>
                    </div>

                    <div class="cf">
                        <label for="{{ form.new_password1.id_for_label }}">Пароль</label>
                        {{ form.password1 }}
                        <div class="invalid-feedback">
                            {{ form.new_password1.errors }}
                        </div>
                    </div>

                    <div class="cf">
                        <label for="{{ form.new_password2.id_for_label }}">Повторите пароль</label>
                        {{ form.password2 }}
                        <div class="invalid-feedback">
                            {{ form.new_password2.errors }}
                        </div>
                    </div>


                    <br>
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit">
                            Зарегистрироваться
                        </button>
                    </div>


                    <span class="login100-form-title p-b-70">
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.tags == 'error' %}
                                    <div class="alert alert-danger m-t-25 m-b-25" role="alert">
                                        {{ message }}
                                    </div>
                                {% else %}
                                    <div class="alert alert-{{ message.tags }}" role="alert">
                                        This is a danger alert—check it out!
                                    </div>
                                {% endif %}

                            {% endfor %}
                        {% endif %}
                    </span>

                    {% endif %}

                    <br>
                    <br>
                    <br>
                    <br>


                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>


</form>

</body>
</html>