{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Page Title
   ================================================== -->
    <div id="page-title">

        <div class="row">

            <div class="ten columns centered text-center">
                <h1>Обучение</h1>

                <p>На этой странице вы можете узнать ответы на самые часто задаваемые вопросы по стилю. Например можете узнать ответ на вопрос как найти свой стиль или как сочетать одежду по цветам. </p>
            </div>

        </div>

    </div> <!-- Page Title End-->

    <!-- Content
   ================================================== -->
    <div class="content-outer">

        <div id="page-content" class="row portfolio">

            <section class="entry cf">

                <div id="secondary" class="four columns entry-details">

                    <h1>Библиотека вопросов.</h1>

                    <p class="lead">Давайте рассмотрим, какие вопросы на сегодняшний день пользуются популярностью среди мужчин разного возраста и социального положения.</p>

                    <p>На сегодняшний день существует огромное количество разных вопросов на тему стиля. Давайте узнаем ответы и сделаем нашу жизнь лучше!</p>




                </div> <!-- Secondary End-->

                <div id="primary" class="eight columns portfolio-list">

                    <div id="portfolio-wrapper" class="bgrid-halves cf">

                        <div class="columns portfolio-item first">
                            <div class="item-wrap">
                                <a href="{% url 'mrs_base:mystyle' %}">
                                    <img alt="" src="{% static "images/Training/1.jpeg" %}">
                                    <div class="overlay"></div>
                                    <div class="link-icon"><i class="fa fa-link"></i></div>
                                </a>
                                <div class="portfolio-item-meta">
                                    <h5><a href="{% url 'mrs_base:mystyle' %}">Как найти свой стиль?</a></h5>
                                    <p>Найдя свой стиль - ты найдешь себя!</p>
                                </div>
                            </div>
                        </div>



                        <div class="columns portfolio-item first">
                            <div class="item-wrap">
                                <a href="{% url 'mrs_base:mystyle2' %}">
                                    <img alt="" src="{% static "images/Training/3.jpg" %}">
                                    <div class="overlay"></div>
                                    <div class="link-icon"><i class="fa fa-link"></i></div>
                                </a>
                                <div class="portfolio-item-meta">
                                    <h5><a href="{% url 'mrs_base:mystyle2' %}">Какие самые главные ошибки в стиле?</a></h5>
                                    <p>Порой ошибка может испортить весь образ!</p>
                                </div>
                            </div>
                        </div>







                    </div>

                </div> <!-- primary end-->

            </section> <!-- end section -->

        </div> <!-- #page-content end-->

    </div> <!-- content End-->

    <!-- Tweets Section
   ================================================== -->

    <div id="page-title">

        <div class="row">

            <div class="ten columns centered text-center">
                <h1>Топ вопросов по мужскому стилю</h1>

                <iframe width="100%" height="450" src="https://www.youtube.com/embed/IA8JT8Rr0s4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                <p>В этом ролике вы сможете услышать и увидеть ответы на самые частые вопросы в мире стиля! Запасайтесь печеньками и чаем! Мы начинаем! </p>
            </div>

        </div>

    </div> <!-- Page Title End-->


{% endblock %}