{% load news_tags %}

<div class="widget widget_tag_cloud">
    <h5 class="widget-title">Категории</h5>
    <div class="tagcloud cf">
        {% get_categories as category %}
            {% for item in category %}
                <a href="{{ item.get_absolute_url }}">{{ item.topic }}</a>
            {% endfor %}
    </div>
</div>

<div class="widget widget_tag_cloud">
    <h5 class="widget-title">Теги</h5>
    <div class="tagcloud cf">
        {% get_tags as tags %}
            {% for item in tags %}
                <a href="{{ item.get_absolute_url }}">{{ item.name_tag }}</a>
            {% endfor %}
    </div>
</div>